* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #C0EBF9;
  color: #467745;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 600px;
  width: 100%;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0px; 

  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #467745;
}

#root > form > input[type=text] {
  font-weight: 500;
  font-size: 16px;
  max-width: 600px;
  height: 64px;
}

input, textarea {
  padding: 20px;
  border: 0;
}

form textarea {
  font-size: 16px;
  font-weight: 400;
  height: 120px;
  border: 0;
}

button {
  width: 280px;
  height: 80px;

  background-color: #467745;
  color: #C0EBF9;

  border: 0;

  letter-spacing: 0.2em;
  font-size: 21px;
  font-weight: 700;

  padding: 20px;
  text-transform: uppercase;

  margin: 0 auto;

}

button:hover {
  cursor: pointer;
  border: 3px solid #C0EBF9;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
}

form div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form div input {
  width: 20px;
  height: 20px;
}


.checkboxAndP {
  padding-left: 6rem;
}

input[type="checkbox"] {
  display: none;
}


.checkboxAndP label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

.checkboxAndP label::before {

  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 20px;
  height: 20px;

  background-color: white;
}

.checkboxAndP input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  left: -15px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #467745;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  background-color: white;
}

.underline {
  text-decoration: underline;
}


@media only screen and (max-width: 650px) {
  
  body {
    width: 100% -40px;
  }

  h1 {
    text-align: left;
  }

  .checkboxAndP {
    padding-left: 0;
  }

  .checkboxAndP label::before {
    position: absolute;
    left: 0;
  }

  .checkboxAndP input[type="checkbox"]:checked + label::after{
    position: absolute;
    left: 5px;
  }

}